@import url("https://fonts.googleapis.com/css?family=Nunito:400,900|Montserrat|Roboto");

body {
    background: linear-gradient(to left, hsl(186deg 42% 24%), #afdbf5);
    overflow: hidden;
    margin: 0;
    height: 100vh;
}

.container {
    display: flex;
    flex-direction: row;
    gap: 5%;
    align-items: center;
    background: #FFFFFF;
    width: 610px;
    height: 610px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 2px 5px 20px rgba(119, 119, 119, 0.5);
}

.logo {
    position: absolute;
    right: 0;
    top: 0;
    margin-right: 1vw;
    margin-top: 1vh;
    font-family: "Nunito Sans", sans-serif;
    color: hsl(186, 42%, 24%);
    font-weight: 900;
    font-size: 2em;
    letter-spacing: 1px;
}

.CTA {
    width: 155px;
    height: 40px;
    right: -58px;
    bottom: 0;
    margin-bottom: 90px;
    position: absolute;
    z-index: 1;
    background: #7ED386;
    font-size: 1em;
    transform: rotate(-90deg);
    transition: all 0.5s ease-in-out;
    cursor: pointer;
}

.CTA h1 {
    color: #FFFFFF;
    margin-top: 10px;
    margin-left: 9px;
}

.CTA a {
    text-decoration: none;
    color: white;
}

.CTA:hover {
    background: #3FB6A8;
    transform: scale(1.1);
}

.leftbox {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 15%;
    height: 110%;
    background: linear-gradient(to top, #666666, lightgreen);
    box-shadow: 3px 3px 10px rgba(119, 119, 119, 0.5);
}

.leftbox nav {
    width: 100%;
    margin-top: 60px;
}

nav a {
    list-style: none;
    padding: 35px;
    color: #FFFFFF;
    font-size: 1.1em;
    display: block;
    transition: all 0.3s ease-in-out;
}

nav a:hover {
    color: hsl(186, 42%, 42%);
    transform: scale(1.2);
    cursor: pointer;
}

nav a:first-child {
    margin-top: 7px;
}

.active {
    color: black;
}

.rightbox {
    width: 60%;
    height: 90%;
}

.profile, .password {
    transition: opacity 0.5s ease-in;
    position: absolute;
    width: 70%;
}

.password .btn {
    float: left;
    font-size: 13px;
    margin: 13px 0;
}

h1 {
    font-family: "Montserrat", sans-serif;
    color: hsl(186, 42%, 24%);
    font-size: 1.5em;
    margin-top: 40px;
    margin-bottom: 35px;
}

h2 {
    color: #333;
    font-family: "Roboto", sans-serif;
    width: 80%;
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 1px;
    margin-left: 2px;
}

p {
    border-width: 1px;
    border-style: solid;
    border-image: linear-gradient(to right, #3FB6A8, rgba(126, 211, 134, 0.5)) 1 0;
    border-top: 0;
    width: 80%;
    font-family: "Montserrat", sans-serif;
    font-size: 13px;
    padding: 7px 0;
    color: #070707;
}

#displayAvtar span {
    font-size: 0.5em;
    color: #777777;
}

.btn {
    float: right;
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    font-size: 10px;
    border: none;
    color: #3FB6A8;
    cursor: pointer;
}

.btn:hover {
    transform: scale(1.1);
    font-weight: 700;
}

input {
    /*border: 1px solid #dddddd;*/
    border: none;
    font-family: "Roboto", sans-serif;
    padding: 2px;
    margin: 0;
    width: 80%;
}

input:focus-visible {
    outline: none;
}

.privacy h2 {
    margin-top: 25px;
}

.settings h2 {
    margin-top: 25px;
}

.noshow {
    opacity: 0;
    z-index: -1;
}

footer {
    position: absolute;
    width: 20%;
    bottom: 0;
    right: -20px;
    text-align: right;
    font-size: 0.8em;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family: "Roboto", sans-serif;
}

footer p {
    border: none;
    padding: 0;
}

footer a {
    color: #ffffff;
    text-decoration: none;
}

footer a:hover {
    color: #7d7d7d;
}

.error {
    color: red;
}

#profilePic img {
    border-radius: 50%;
    width: 5rem;
    height: 5rem;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2), 0 1rem 1rem -0.5rem rgba(0, 0, 0, 0.3);
}

#profilePic input {
    font-size: 10px;
    width: 160px;
}

#profilePic {
    display: table;
}

#profilePic span {
    display: table-cell;
    vertical-align: middle;
}

#profilePic span span {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 15px;
}

#verify-mail {
    margin-right: 41px;
}

h3 .fas {
    margin-right: 10px;
}

h3 {
    color: orange;
    display: flex;
    justify-content: space-between;
}