@import url('https://fonts.googleapis.com/css2?family=Aldrich&display=swap');

#stopwatch {
    color: white;
    font-family: Aldrich;
}

.stopwatch {
    font-size: 4vw;
    height: 100%;
    line-height: 100vh;
    text-align: center;
}