@import url('https://fonts.googleapis.com/css2?family=Aldrich&display=swap');

#stopwatch {
    background: #333;
    color: #bbb;
    font-family: Aldrich;
}

.controls {
    position: fixed;
    text-align: center;
    top: 1em;
    width: 100%;
}

.button {
    color: #bbb;
    font-size: 4vw;
    margin: 0 0.5em;
    text-decoration: none;
}

.button:first-child {
    margin-left: 0;
}

.button:last-child {
    margin-right: 0;
}

.button:hover {
    color: white;
}

.stopwatch {
    font-size: 10vw;
    height: 100%;
    line-height: 100vh;
    text-align: center;
}

.results {
    border-color: lime;
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}