@import url('https://fonts.googleapis.com/css2?family=Aldrich&display=swap');

#stopwatch {
    background: #333;
    color: #bbb;
    font-family: Aldrich;
}

.stopwatch {
    font-size: 4vw;
    height: 100%;
    line-height: 100vh;
    text-align: center;
}